* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ebebeb;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login {
    display: flex;
    height: 800px;
    width: 1320px;
}

.paragraf {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px 0 0 20px;
    width: 500px;
    height: 100%;
    background-image: linear-gradient(213deg, #3ba5b4 0, #38ba8a 100%);
}

.account {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 0 20px 20px 0;
    width: 820px;
    height: 100%;
    background-color: #fff;
}

.par-top {
    display: flex;
    flex-direction: row;
    padding-left: 15px;
    padding-top: 15px;
    align-items: center;
    width: 500px;
    height: auto;
    transition: 0.5s;
}

.par-top > img {
    width: 40px;
    height: 40px;
}

@font-face {
    font-family: "KronaOne-Regular";
    src: url("fonts/Krona_One/KronaOne-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Lato-Thin";
    src: url("fonts/Lato/Lato-Thin.ttf") format("truetype");
}

.par-top > p {
    font-family: Lato-Thin, serif;
    font-size: 15px;
    margin-left: 10px;
}

.par-content {
    text-align: center;
    height: 780px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@font-face {
    font-family: "Lato-Regular";
    src: url("fonts/Lato/Lato-Regular.ttf") format("truetype");
}

.par-content > h1 {
    font-family: Lato-Regular, serif;
    font-size: 55px;
}

.par-content > h3 {
    margin-top: 40px;
    line-height: 30px;
    font-family: Lato-Thin, serif;
    font-size: 18px;
    width: 330px;
}

@font-face {
    font-family: "Lato-Bold";
    src: url("fonts/Lato/Lato-Bold.ttf") format("truetype");
}

.par-content > a:hover {
    box-shadow: #dbdbdb 0 0 20px;
    background-image: linear-gradient(213deg, #38ba8a 0, #3eacbc 100%);
}

.par-content > a {
    transition: 0.5s;
    text-transform: uppercase;
    margin-top: 50px;
    border-radius: 50px;
    border: white solid 1px;
    color: white;
    padding: 20px 100px;
    font-size: 20px;
    font-family: Lato-Bold, serif;
    text-decoration: none;
}

.acc-top {
    width: 820px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.acc-top > h1 {
    color: #3bb497;
    font-family: Lato-Regular, serif;
    font-size: 60px;
}

.logos {
    margin-top: 20px;
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    height: 60px;
    width: 150px;
}

.logos > a > img {
    width: 45px;
    transition: 0.3s;
}

.logos > a > img:hover {
    filter: brightness(1) invert(1);
}

.acc-top > h4 {
    margin-top: 40px;
    font-size: 15px;
    font-family: Lato-Thin, serif;
}

.forma {
    display: flex;
    align-items: center;
    border-bottom-right-radius: 20px;
    width: 820px;
    flex-direction: column;
    height: auto;

}

form {
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

input:hover {
    box-shadow: #38ba8a 0 0 5px;
}

input {
    outline: none;
    transition: 0.5s;
    border: none;
    font-family: Lato-Bold, serif;
    font-size: 20px;
    text-indent: 50px;
    color: #38ba8a;
    background-color: #eef5f3;
    height: 60px;
    width: 500px;
}

.inputIcon {
    margin-top: 20px;
    position: relative;
    width: 500px;
    display: flex;
    align-items: center;
}

.inputIcon > img {
    filter: brightness(0) invert(0.4);
    left: 20px;
    position: absolute;
    width: 20px;
}

button {
    background-color: #3bb497;
    text-transform: uppercase;
    border-radius: 50px;
    border: #3ba5b4 solid 1px;
    color: white;
    padding: 20px 100px;
    font-size: 20px;
    font-family: Lato-Bold, serif;
    margin-top: 80px;
    transition: 0.5s;
}

button:hover {
    box-shadow: #38ba8a 0 0 20px;
    background-image: linear-gradient(213deg, #3eacbc 0, #38ba8a 100%);
}

input:focus {
    color: #3ba5b4;
}

.inputIcon:hover img {
    transition: 1s;
    transform: rotateY(180deg);
}

.inputIcon:hover #view {
    transform: none;
}

#view:hover {
    cursor: pointer;
}

#view {
    width: 23px;
    filter: brightness(0) invert(0.6);
    margin-left: 440px;
}

